.modal-login {
    visibility: hidden;
    display:flex;
    position:relative;
}

.modal-login:target{
    visibility:visible;
}


.modal-content{
    position:relative;
    display: flex;
    margin: 1000px, 0px, 0px, 100px;
}
.right-header{
    position:relative;
    display: flex;
    justify-items: end;
    padding-right: 100px;
}


.login_wrapper {
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 101;
    justify-content: center;
    align-items: center;
    transition: opacity linear 2s;
    transition-property: opacity;
}

.login_wrapper.show {
    opacity: 1;
    display: flex;
    visibility:visible;
    transition: opacity linear 2s;
    transition-property: opacity;
}

.login_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2vh;
    min-width: 300px;
    min-height: 350px;
    border-radius: 20px;
    justify-content: space-around;
}

.login_login{
    display: flex;
    flex-direction:column;
}

.login_password {
    display: flex;
    flex-direction: column;
}