@model LibraryRequiem.Models.UserModel;

<div class="list-group" style="margin-top: 100px;">
    <div class="list-group-item">@Model.UserName</div>
    <div class="list-group-item">@Model.Password</div>
</div>
