@{
    <!-- Описываем заголовок отображаемый в окне браузера -->
    ViewData["Title"] = "Регистрация";
}
@model LibraryRequiem.Models.ViewModel.RegisterViewModel;

<div class="accordion-body" style="margin-top: 100px">
    <form method="post" class="accordion-header">
        <div class="accordion-item">
            <div asp-validation-summary="ModelOnly" class="text-danger accordion-flush"></div>
            <label asp-for="UserName" class="accordion-item"></label>
            <input placeholder="Имя пользователя" class="accordion-item" asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger accordion-flush"></span>
            
        </div>
        <div class="accordion-item">
            <label asp-for="Password" class="accordion-item"></label>
            <input placeholder="Пароль" class="accordion-item" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger accordion-flush"></span>
        </div>

        <div class="accordion-">
            <label asp-for="PasswordConfirm" class="accordion-item"></label>
            <input placeholder="Подтверждение пароля" class="accordion-item" asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm" class="text-danger accordion-flush"></span>
        </div>
        <button asp-action="Register" class="accordion-item" type="submit">Отправить</button>
    </form>
</div>